<app-game-menu *ngIf="gamePhase === Phase.PlayerNumberChoice"
    [title]="gameTitle" [options]="playerNumOptions" (choiceEvent)="onOptionChoice($event)"></app-game-menu>
<app-game-menu *ngIf="gamePhase === Phase.MultiPlayerOptions"
    [options]="multiPlayerOptions" (choiceEvent)="onOptionChoice($event)"></app-game-menu>
<app-game-menu *ngIf="gamePhase === Phase.WaitingForMatch" [title]="waitingText"></app-game-menu>
<app-game-menu *ngIf="gamePhase === Phase.GameOver" [title]="gameOverText" [options]="gameOverOptions"
    (choiceEvent)="onOptionChoice($event)"></app-game-menu>
<canvas #gameCanvas (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" (blur)="onBlur()" tabindex='1' 
    [class.inactive]="gamePhase !== Phase.MainGame" (window:resize)="onResize()"  (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)" (contextmenu)="onContextMenu()"></canvas>