<div *ngIf="this.gamePhase === Phase.PlayerNumberChoice" class="menu">
    <button (click)="onClickSinglePlayer()">SinglePlayer</button>
    <button (click)="onClickMultiPlayer()">MultiPlayer</button>
</div>
<div *ngIf="this.gamePhase === Phase.MultiPlayerOptions" class="menu">
    <button (click)="onClickLocalMultiPlayer()">Local</button>
    <button (click)="onClickOnlineMultiPlayer()">Online</button>
</div>
<div *ngIf="this.gamePhase === Phase.WaitingForMatch" class="menu">
    Waiting...
</div>
<div *ngIf="this.gamePhase === Phase.GameOver" class="menu">
    <div *ngIf="this.gameMode !== Mode.LocalMultiPlayer">
        <span *ngIf="this.player.isWinner">You Win!</span>
        <span *ngIf="!this.player.isWinner">You Lose.</span>
    </div>
    <div *ngIf="this.gameMode === Mode.LocalMultiPlayer">
        <span *ngIf="this.player.isWinner">Player 1 Wins!</span>
        <span *ngIf="this.enemy.isWinner">Player 2 Wins!</span>
    </div>
    <button (click)="onClickReturn()">Return</button>
</div>
<div class="gameWrapper">
    <canvas #gameCanvas (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" (blur)="onBlur()" tabindex='1' 
        (window:resize)="onResize()" [class.inactive]="this.gamePhase !== Phase.MainGame"></canvas>
</div>