canvas {
    background-color: #feffff;
    margin-top: 4vh;
    height: 80vh;
    width: 400px;
    max-width: 100%;
}
.inactive {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
}