<!DOCTYPE html>
<html ng-app="chatApp">
<head>
	<title>chat</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body ng-controller="mainController">
	<ul id="messages"></ul>
	<div>
		<input id="m" ng-model="message" autocomplete="off">
		<button ng-click="send()">Send</button>
	</div>
	<script>
		var chatApp = angular.module("chatApp", []);
		var socket = io();
		chatApp.controller("mainController", function($scope) {
			$scope.send = function() {
				socket.emit('chat message', $scope.message);
				$scope.message = "";
			};
			socket.on('chat message', function(msg) {
				var li = document.createElement("li");
				li.appendChild(document.createTextNode(msg));
				document.getElementById("messages").appendChild(li);
			});
		});
	</script>
</body>
</html>
