<div class="chatbox-container" [class.active]="active">

    <div class="chatbox-header-container">
        <div class="chatbox-header" [class.active]="active">
            <h3><i class="fa fa-comments"></i>Chat</h3>
            <button (click)="toggleActive()">
                <i class="fa" [class.fa-chevron-up]="!active" [class.fa-chevron-down]="active"></i>
            </button>
        </div>
    </div>

    <div #messageList class="chatbox-display" (scroll)="onScroll()">
        <ul>
            <li class="message" *ngFor="let message of messages" [class.sent]="message.from === username">
                {{ message.from }}: {{ message.text }}
            </li>
        </ul>
    </div>

    <form class="chatbox-form" (ngSubmit)="send()">
        <textarea [formControl]="message" class="chatbox-input" [style.height.px]="inputHeight" 
            (input)="changeText($event)" (keydown.enter)="onPressEnter($event)"></textarea>
        <button type="submit"><i class="fa fa-paper-plane"></i></button>
    </form>
</div>