<div class="chatbox-container" [class.active]="active">

    <div class="chatbox-header-container">
        <div class="chatbox-header" [class.active]="active">
            <h3><fa-icon [icon]='faComments'></fa-icon>Chat<span [class.new-messages]="newMessages"></span></h3>
            <button (click)="toggleActive()">
                <fa-icon *ngIf="active" [icon]='faChevronDown'></fa-icon>
                <fa-icon *ngIf="!active" [icon]='faChevronUp'></fa-icon>
            </button>
        </div>
    </div>

    <div #messageList class="chatbox-display" (scroll)="onScroll()">
        <ul>
            <li class="message" *ngFor="let message of messages" [class.sent]="message.from === username">
                {{ message.from }}: {{ message.text }}
            </li>
        </ul>
    </div>

    <form class="chatbox-form" (ngSubmit)="send()">
        <textarea [formControl]="message" class="chatbox-input" [style.height.px]="inputHeight" 
            (input)="changeText($event)" (keydown.enter)="onPressEnter($event)"></textarea>
        <button type="submit"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
    </form>
</div>