li {
    margin-top: .5em;
    margin-bottom: .5em;
}
.tab {
    padding-left: 1em;
}
#chatbox-container {
    position: fixed;
    bottom: 4em;
    right: 2em;
    display: inline-block;
    width: 20em;
    height: 40%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: 1em;
    background-color: #feffff;
}
#chatbox-header {
    height: 10%;
    box-shadow: 0px 0px 3px grey;
    font-size: 1.5em;
}
#message-list {
    height: 80%;
    text-align: left;
    list-style: none;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}
#chatbox-controls {
    height: 10%;
    box-shadow: 0px 0px 3px grey;
}
#chatbox-controls input {
    height: 60%;
    margin-top: .3em;
    width: 70%;
}
#chatbox-controls button {
    height: 60%;
    margin-top: .3em;
}