<div class="title">battleship</div>

<div *ngIf="phase === Phase.Start">
    <div>
        <div>
            <button (click)="onClickSinglePlayer()">singleplayer</button>
            <button (click)="onClickMultiPlayer()">multiplayer</button>
        </div>
    </div>
</div>

<div *ngIf="phase !== Phase.Start && phase !== Phase.WaitingForMatch">
    <div *ngIf="phase !== Phase.Setup">
        <table>
            <tr *ngFor="let row of enemyBoard; index as i">
                <td *ngFor="let square of row; index as j" [ngClass]="{
                    'has-boat': square.hasBoat && square.isHit,
                    'is-hit': square.isHit,
                    'is-sunk': square.isSunk
                }"
                (click) = 'onClickEnemySquare(i, j)'>
                <div class="enemy"></div></td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr *ngFor="let row of playerBoard; index as i">
                <td *ngFor="let square of row; index as j" [ngClass]="{
                    'has-boat': square.hasBoat,
                    'is-hit': square.isHit,
                    'is-sunk': square.isSunk
                }"
                (click) = 'onClickPlayerSquare(i, j)'
                (mouseenter) = 'onEnterPlayerSquare(i, j)'
                (mouseleave) = 'onLeavePlayerSquare(i, j)'
                (contextmenu)="onRightClick(i, j)">
                <div [ngClass]="{
                    'selected': square.isSelected,
                    'valid': square.isValid
                }"></div></td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="phase === Phase.End" class="popup-message">
    <span *ngIf="win" class="end-message">you win.</span>
    <span *ngIf="!win" class="end-message">you lose.</span>
    <button (click)="onClickRematch()">rematch</button>
    <button (click)="onClickReturn()">return to start</button>
</div>
<div *ngIf="phase === Phase.WaitingForMatch" class="popup-message">
    <span>waiting for a match...</span>
</div>