.title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
}
button {
    font-size: 2em;
    margin: 2em;
}

.game-wrapper {
    margin-top: 4vh;
    display: inline-block;
    padding: 2vh 2vw;
    background-color: #feffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .3);
    width: 500px;
    padding-bottom: 8vh;
}
table {
    background-color: black;
    display: inline-block;
    border-spacing: 0;
    margin-top: 2vh;
}
.game-info {
    padding: 2vh 0;
}

td {
    width: 2em;
    height: 2em;
    background-color: white;
    border: 1px solid black;
}
td.has-boat {
    background-color: blue;
}
td.is-hit {
    background-color: purple;
}
td.is-hit.has-boat {
    background-color: orange;
}
td.is-hit.has-boat.is-sunk {
    background-color: red;
}
.enemy {
    height: 100%;
}
.active tr .enemy:hover {
    background-color: rgba(0, 0, 0, .2);
}
.active {
    box-shadow: 0 0 2px 2px rgba(0, 0, 255, .5);
}

.selected {
    height: 100%;
    background-color: rgba(255, 0, 0, .4);
}
.selected.valid {
    background-color: rgba(0, 255, 0, .4);
}

.enemy-clicked {
    background-color: yellow;
}