.title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
}
button {
    font-size: 2em;
    margin: 2em;
}

table {
    background-color: black;
    display: inline-block;
    margin-top: 1em;
}

td {
    width: 3em;
    height: 3em;
    background-color: white;
}

.hover-layer {
    height: 100%;
}
.hover-layer:hover {
    background-color: rgba(0, 0, 0, .2);
}

.clicked {
    background-color: pink;
}
.enemy-clicked {
    background-color: yellow;
}