.title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
}
button {
    font-size: 2em;
    margin: 2em;
}

table {
    background-color: black;
    display: inline-block;
    margin-top: 1em;
}

td {
    width: 3em;
    height: 3em;
    background-color: white;
}
td.has-boat {
    background-color: blue;
}
td.is-hit {
    background-color: purple;
}
td.is-hit.has-boat {
    background-color: red;
}
.enemy {
    height: 100%;
}
.enemy:hover {
    background-color: rgba(0, 0, 0, .2);
}

.selected {
    height: 100%;
    background-color: rgba(255, 0, 0, .4);
}
.selected.valid {
    background-color: rgba(0, 255, 0, .4);
}

.enemy-clicked {
    background-color: yellow;
}