nav {
    background-color: #e5e5e5;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
ul {
    text-align: left;
}
li {
    display: inline-block;
    padding: 2em;
}
li:hover {
    background-color: #e2e2e2;
}
li.active {
    background-color: #dedede;
}

a:hover {
    cursor: pointer;
}