<nav>
  <ul>
    <li *ngIf="user">{{user.username}}</li>
    <li *ngIf="!user">-</li>
    <a routerLink="/"><li [ngClass]="{
      'active': this.router.url === '/'
    }"
    >Home</li></a>
    <a routerLink="/login"><li [ngClass]="{
      'active': this.router.url === '/login'
    }"
    *ngIf="!user">Login</li></a>
    <a routerLink="/register"><li [ngClass]="{
      'active': this.router.url === '/register'
    }"
    *ngIf="!user">Register</li></a>
    <a (click)="logout()"><li *ngIf="user">Logout</li></a>
    <a routerLink="/games/move-around"><li [ngClass]="{
      'active': this.router.url === '/games/move-around'
    }"
    >Move Around</li></a>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<app-chat></app-chat>