<nav>
  <a *ngIf="user">{{user.username}}</a>
  <a routerLink = "/" [ngClass]="{
    'active': this.router.url === '/'
  }"
  >Home</a>
  <a routerLink="/login" [ngClass]="{
    'active': this.router.url === '/login'
  }"
  *ngIf="!user">Login</a>
  <a routerLink="/register" [ngClass]="{
    'active': this.router.url === '/register'
  }"
  *ngIf="!user">Register</a>
  <a (click)="logout()" *ngIf="user">Logout</a>
  <div class="dropdown-container">
    <a [ngClass]="{
      'active': this.router.url === '/games/battleship' ||
      this.router.url === '/games/move-around'
    }">Games</a>
    <div class="dropdown-content">
      <div><a routerLink="/games/battleship" [ngClass]="{
        'active': this.router.url === '/games/battleship'
      }"
      >Battleship</a></div>
      <div><a routerLink="/games/move-around" [ngClass]="{
        'active': this.router.url === '/games/move-around'
      }"
      >Move-Around</a></div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-chat [ngClass]="{
  'active': this.chatIsActive
}"></app-chat>
<div class="footer">
  <a (click)="toggleChat()">chat</a>
</div>